#config-container {
    font-size: 1.0em;
}

.config-title {
    color: #555;
    background: #ddd;
    height: 25px;
    line-height: 25px;
    font-size: 0.9em;
    padding: 0 15px 0 15px;
}

.config-item {
    position: relative;
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    transition: 0.5s linear;
}
.config-item-last {
    position: relative;
    margin: 0 10px 0 10px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    transition: 0.5s linear;
}

.config-item:hover {
    background-color: #ccc
}

.item-text {
    margin: 0 5px 0 5px;
}
.item-value {
    display: inline-block;
    position: absolute;
    right: 20px;
    font-size: 1em;
    color: #4CAF50;
}
.glyphicon.item-right {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 10px 0 10px 0;
    color: #ccc;
}