.config-title {
    color: #555;
    background: #ddd;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0 1.4rem;
}

/* ConfigItem.tsx 所用css */
.config-item {
    position: relative;
    margin: 0 1rem;
    border-bottom: 1px solid #ccc;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #fff;
    transition: 0.5s linear;
}
.config-item-last {
    position: relative;
    margin: 0 1rem;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #fff;
    transition: 0.5s linear;
}

.config-item:hover {
    background-color: #ccc
}

.config-item-text {
    margin: 0 0.4rem;
}
.config-item-value {
    display: inline-block;
    position: absolute;
    right: 2rem;
    font-size: 1rem;
    color: #4CAF50;
}

.item-right {
    display: inline-block;
    position: absolute;
    right: 0;
    color: #ccc;
}
.glyphicon.item-right {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 1rem 0;
    color: #ccc;
}

/* ConfigInput 所用 css */
.config-input-group {
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.input-beautified {
    display: inline-block;
    height: 3.0rem;
    margin: 0.25rem 0;
    padding: 0.4rem 0.8rem;
    line-height: 3.0rem;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
}
.input-beautified :hover {
    border-color: #4CAF50;
}

.config-input input {
    display: inline-block;
    font-weight: initial;
    width: 60%;
}
.config-input label {
    max-width: 85%;
}

label.switch-right {
    position: absolute;
    right: 0;
    margin-top: 0.4rem;
}