#config-content {
    font-size: 1.2em;
}

.config-item {
    margin: 0 10px 0 10px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
}
.item-text {
    margin: 0 5px 0 5px;
}